{% extends 'layout.html.twig' %}

{% block title 'Editar Usuario' %}

{% block body %}

<form class="form-horizontal" method = "post" action = {{ url('perros-save') }}>
  <fieldset>

    <!-- Titulo -->
    <legend>Crear o Editar Perro</legend>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Nombre</label>
      <div class="col-md-4">
        <input type="text" class="form-control input-md"
            name="nombre" placeholder="Nombre del perro" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Raza</label>
      <div class="col-md-4">
        <input type="text" class="form-control input-md"
            name="raza" placeholder="Raza del perro" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Edad</label>
      <div class="col-md-4">
        <input type="text" class="form-control input-md"
            name="edad" placeholder="Edad del perro" required="">
      </div>
    </div>

    <!-- Botones -->
    <div class="form-group">
      <div class="col-md-8">
        <div class="pull-right">
          <button class="btn btn-primary" type="submit">Guardar</button>
          <button class="btn btn-primary">Cancelar</button>
        </div>
      </div>
    </div>

  </fieldset>
</form>


{% endblock %}