{% extends 'layout.html.twig' %}

{% block title 'Usuarios' %}

{% block body %}

<div class="container">
	<div class="row">

    <div class="col-md-12">
      <legend>Lista de Usuarios</legend>

      <div class="table-responsive">

        <table id="mytable" class="table table-bordred table-striped">

          <thead>
            <th>Nombre</th>
            <th>Raza</th>
            <th>Edad</th>


            <th>Editar</th>
            <th>Borrar</th>
          </thead>

          <tbody>
            {% for p in perros %}
            <tr>
              <td>{{ p.nombre }}</td>
              <td>{{ p.raza }}</td>
              <td>{{ p.edad }}</td>              
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Editar">
                  <button class="btn btn-primary btn-xs" data-title="Editar" >
                    <i class="glyphicon glyphicon-pencil"></i>
                  </button>
                </p>
              </td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Borrar">
                  <button class="btn btn-danger btn-xs" data-title="Borrar">
                    <i class="glyphicon glyphicon-trash"></i>
                  </button>
                </p>
              </td>
            </tr>
            {% endfor %}

          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>

{% endblock %}