{% extends 'layout.html.twig' %}

{% block title 'Editar Usuario' %}

{% block body %}

<form class="form-horizontal" method = "post" action = {{ url('users-save') }}>
  <fieldset>

    <!-- Titulo -->
    <legend>Crear o Editar Usuario</legend>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Nombre</label>
      <div class="col-md-4">
        <input type="text" class="form-control input-md"
            name="nombre" placeholder="nombre del usuario" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Apellido</label>
      <div class="col-md-4">
        <input type="text" class="form-control input-md"
            name="apellido" placeholder="apellido del usuario" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Dirección</label>
      <div class="col-md-4">
        <input type="text" class="form-control input-md"
            name="direccion" placeholder="dirección del usuario" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Email</label>
      <div class="col-md-4">
        <input type="text" class="form-control input-md"
            name="email" placeholder="correo electrónico" required="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Teléfono</label>
      <div class="col-md-4">
        <input type="text" class="form-control input-md"
            name="telefono" placeholder="teléfono del usuario" required="">
      </div>
    </div>

    <!-- Botones -->
    <div class="form-group">
      <div class="col-md-8">
        <div class="pull-right">
          <button class="btn btn-primary" type="submit">Guardar</button>
          <button class="btn btn-primary">Cancelar</button>
        </div>
      </div>
    </div>

  </fieldset>
</form>


{% endblock %}